<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>



  <h1>Today's Craft Beer Selection</h1>

<table>
{% for d in data%}
<TR>
   <TD>{{d.name}}</TD>
   <TD>{{d.btype}}</TD>
   <TD>{{d.brewery}}</TD>
   <TD>{{d.price}}</TD>
   <TD><p><a href="{{ url_for('productdetails', id = d.id)}}">More details </a></p></TD>
</TR>
{% endfor %}
</table>

<h2>Our Recommendations for You</h2>
<table>
{% for r in recs%}
<TR>
   <TD>{{r.name}}</TD>
</TR>
{% endfor %}
  </table>



</body>


</html>
